html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font: normal 18px/1.5'Montserrat', sans-serif;
    background-color: #efefef;
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
    word-break: break-word;
}